<nav class="navbar navbar-expand-lg nav-config justify-content-between fixed-top">
  <ul class="nav navbar-nav px-2 justify-content-start">
    <li class="nav-item active">
      <a routerLink="/web"><img src="../../../../assets/web/image/footer/logo.png" alt="Logo" srcset="" class="nav-link logo-setting"></a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav .nav-fill">
      <li class="nav-item active text-warning">
        <a class="nav-link" routerLink="/web">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/address">Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/web/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
